*.sw?
clevis-8
clevis-10/debian/.debhelper/
clevis-10/debian/clevis-dracut.debhelper.log
clevis-10/debian/clevis-dracut.substvars
clevis-10/debian/clevis-dracut/
clevis-10/debian/clevis-initramfs.debhelper.log
clevis-10/debian/clevis-initramfs.substvars
clevis-10/debian/clevis-initramfs/
clevis-10/debian/clevis-luks.debhelper.log
clevis-10/debian/clevis-luks.substvars
clevis-10/debian/clevis-luks/
clevis-10/debian/clevis-systemd.debhelper.log
clevis-10/debian/clevis-systemd.substvars
clevis-10/debian/clevis-systemd/
clevis-10/debian/clevis-udisks2.debhelper.log
clevis-10/debian/clevis-udisks2.substvars
clevis-10/debian/clevis-udisks2/
clevis-10/debian/clevis.debhelper.log
clevis-10/debian/clevis.substvars
clevis-10/debian/clevis/
clevis-10/debian/debhelper-build-stamp
clevis-10/COPYING
clevis-10/Makefile
clevis-10/Makefile.am
clevis-10/Makefile.in
clevis-10/aclocal.m4
clevis-10/autom4te.cache/
clevis-10/compile
clevis-10/config.guess
clevis-10/config.log
clevis-10/config.status
clevis-10/config.sub
clevis-10/configure
clevis-10/configure.ac
clevis-10/debian/autoreconf.after
clevis-10/debian/autoreconf.before
clevis-10/debian/clevis-systemd.postinst.debhelper
clevis-10/debian/clevis-systemd.postrm.debhelper
clevis-10/debian/clevis-systemd.prerm.debhelper
clevis-10/debian/files
clevis-10/debian/tmp/
clevis-10/depcomp
clevis-10/doc/
clevis-10/install-sh
clevis-10/missing
clevis-10/src/
clevis-10/test-driver
clevis-10/tests/
clevis-10/.pc/
