#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS := hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

# wait for #880984
override_dh_auto_configure:
	dh_auto_configure -- --with-dracutmodulesdir=/usr/lib/dracut/modules.d --with-initramfstoolsmodulesdir=/usr/share/initramfs-tools

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/usr/share/initramfs-tools/hooks/
	mkdir -p $(CURDIR)/debian/tmp/usr/share/initramfs-tools/scripts/local-bottom/
	mkdir -p $(CURDIR)/debian/tmp/usr/share/initramfs-tools/scripts/local-top/
	make -j8 install DESTDIR=$(CURDIR)/debian/tmp AM_UPDATE_INFO_DIR=no
